h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.4);
}
li{
    padding-left: 8px;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.list-group{
    display: flex;
    justify-content: space-between;
}