* {
    box-sizing: border-box;
}
body {
    margin: 0;
    /*font-family: 'Work Sans', sans-serif; does not 'BOLD'*/
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.Logo-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    position: absolute;
    right: 45%;
    margin: auto;
    padding: .2em 0;
}
nav {
    background: #c0c0c0;
}
ul {
    height: 3em;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center ;
    box-sizing: border-box;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: .7em;
    display: inline-block;
    padding: .5em;
}
nav a:hover {
    color: lightblue;
}

nav ul li:nth-child(6) {
    margin-left: auto;
}