* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #c0c0c0;
}
ul {
    height: 3em;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center ;
    box-sizing: border-box;

    /* made unordered list a flex container */
}
nav a {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    /*font-weight: bold;*/
    font-size: .7em;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: .5em; /* increases clickable area of anchor tags on all sides by 1em */

}
nav a:hover {
    background: lightblue;
}
nav ul li:nth-child(5){
    font-size: 3em;
    margin: auto;
    position: absolute;
    right: 50%;
    padding: .2em 0
;
    font-weight: normal;

}
nav ul li:nth-child(6) {
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */

    margin-left: auto;
}